
.inter-<uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    font-family: "inter";
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Macondo", cursives;
    font-weight: 400;
    font-style: normal;
}